h2{color: blue; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: bold; font-size: larger; text-transform: uppercase;}
body{background-color: yellow;}
label{color: blue; font-family: monospace; font-style: italic; font-size: larger; text-transform: uppercase;}

